
@media screen and (max-width: 1200px) {
    /*↓ menu-mobile ↓*/
    .menu-toggle{
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1a0f0f;
        padding: 15px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    nav.active {
        display: flex;
    }

    nav a {
        justify-content: center;
    }
    /*↑ menu-mobile ↑*/

    /*↓ Com oque trabalhamos ↓*/
    section.avaliacoes{
        padding: 0 20px;
    }
    /*↑ Com oque trabalhamos ↑*/
    .ava {
        background-color: rgba(0, 0, 0, 0.514);
        padding: 10px;
    }
    /*↓ comentarios ↓*/
    section.section-comentarios{
        padding: 80px 50px;
    }
    /*↑ comentarios ↑*/

    /*↓ contato ↓*/
    .contato-modern{
        padding: 60px 20px;
    }
    /*↑ contato ↑*/
}


@media screen and (max-width: 428px) {
    /*  */
    .logo{
        margin-left: -20px;
    }
    .container {
        margin-top: 10%;
    }
}

@media screen and (max-width: 320px) {
    .formulario-container {
        margin-top: 30%;
    }
}









